<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Categorias</title>
</head>
<body>
    <h1>Lista de Categorias</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for categorias_producto in categorias_producto %}
                <tr>
                    <td>{{ categorias_producto[0] }}</td>
                    <td>{{ categorias_producto[1] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
